<app-navbar></app-navbar>
<div class="container my-6">
  <div class="flex flex-col md:flex-row bg-white p-6">
    <div class="md:w-1/2">
      <img [src]="produit?.fichier || 'assets/product.jpg'" alt="Product Image" class="rounded-lg object-cover "
        (error)="handleImageError($event)">

        <div class="mt-8">
          <h2 class="text-2xl font-bold text-gray-800 mb-4">Customer Reviews</h2>
        
          <!-- Reviews List -->
          <div *ngFor="let com of this.produit?.commentaires" class="bg-gray-100 p-4 rounded-lg mb-4">
            <p class="text-gray-800"><strong>{{com.uname }}:</strong> {{com.text}}</p>
            <p class="text-gray-500 text-sm">Posted on {{com.date}}</p>
            
            <!-- Display the rating stars -->
            <div class="flex items-center mt-2">
              <ng-container *ngFor="let star of generateStars(com.note)">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5 h-5 text-yellow-500" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M10 15l-3.09 1.63L7.24 11 4 7.63l5.25-.42L10 2l2.75 5.21 5.25.42-3.24 3.37 1.33 5.63L10 15z"/>
                </svg>
              </ng-container>
              <span class="text-gray-500 ml-2">{{com.note}} / 5</span>
            </div>
          </div>
        
          <!-- Comment Form -->
          <div *ngIf="showForm" class="bg-gray-100 p-4 rounded-lg mb-4 mt-4">
            <form (ngSubmit)="onSubmit()" #commentForm="ngForm">
              <textarea class="w-full p-2 rounded-lg border border-gray-300" rows="4"
                placeholder="Write your review here..." [(ngModel)]="commentText" name="commentText" required></textarea>
              
              <!-- Rating input -->
              <div class="mt-2">
                <label for="rating" class="block text-sm font-medium text-gray-700">Rating</label>
                <select id="rating" name="note" [(ngModel)]="rating" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md">
                  <option value="1">1 Star</option>
                  <option value="2">2 Stars</option>
                  <option value="3">3 Stars</option>
                  <option value="4">4 Stars</option>
                  <option value="5">5 Stars</option>
                </select>
              </div>
              
              <button type="submit"
                class="bg-[#59D6CE] mt-2 px-6 py-2 rounded-md hover:bg-secondary transition duration-300"
                [disabled]="!commentForm.form.valid">Submit Review</button>
            </form>
        
            <!-- Cancel Button -->
            <button (click)="cancelForm()"
              class="bg-gray-300 mt-2 px-6 py-2 rounded-md hover:bg-gray-400 transition duration-300">
              Cancel
            </button>
          </div>
        
          <!-- Add Comment Button -->
          <button *ngIf="!showForm" (click)="toggleForm()" class="bg-[#59D6CE] px-6 py-2 rounded-md hover:bg-secondary transition duration-300">
            Add a Comment
          </button>
        </div>
        
    </div>


    <div class="md:w-1/2 md:ml-20 mt-4 md:mt-0">
      <h1 class="text-4xl font-bold text-gray-800 mb-2">{{produit?.name}}</h1>
      <div class="flex items-center mb-4">
        <span class="text-2xl text-green-500 font-bold">€ {{produit?.prix}}</span>
        <!-- <span class="text-xl text-gray-500 line-through ml-4">€18.00</span>
        <span class="text-xl text-green-500 ml-2">25% off</span> -->
      </div>
      <p class="mb-4">{{produit?.description}}</p>
      <div *ngIf="produit && produit.commentaires" class="mt-2 text-sm text-black font-semibold">
        Ratings:
        <span *ngIf="produit.commentaires.length > 0">
          {{ calculateAverageRating() }} / 5
        </span>
        <span *ngIf="produit.commentaires.length === 0">No ratings yet</span>
      
        <div class="flex items-center mt-1">
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
            <i *ngIf="star <= calculateAverageRating()" class="fas fa-star text-yellow-500"></i>
            <i *ngIf="star > calculateAverageRating() && star - 0.5 <= calculateAverageRating()" class="fas fa-star-half-alt text-yellow-500"></i>
            <i *ngIf="star > calculateAverageRating()" class="far fa-star text-gray-400"></i>
          </ng-container>
        </div>
      </div>

      <button (click)="downloadImage()"
        class="bg-[#59D6CE] mt-4 w-full px-6 py-2 rounded-md hover:bg-secondary transition duration-300">Download</button>
      <div class="mt-4 space-y-4">
        <div>
          <div class="font-bold text-lg flex items-center">
            <i class="fas fa-info-circle mr-2"></i> Item details
          </div>
          <div class="pl-4">
            <div class="font-bold flex items-center">
              <i class="fas fa-star mr-2"></i> Highlights
            </div>
            <ul class="pl-4 list-disc">
              <li>Designed by {{shopContainingProduit?.nom}}</li>
              <li>Party decor for gatherings and celebrations</li>
              <li>Digital download</li>
              <li>Digital file type(s): 1 PDF</li>
            </ul>
            <div class="font-bold mt-2 flex items-center">
              <i class="fas fa-info-circle mr-2"></i> About this item
            </div>
            <p class="pl-4">{{produit?.description}}</p>
          </div>
        </div>
        <button *ngIf="checkIfProductInWishlist()" (click)="removeFromWishlist()"
          class="flex items-center bg-[#59D6CE] px-4 py-2 rounded-md hover:bg-secondary transition duration-300">
          <i class="fas fa-heart text-white mr-2"></i> Remove From Wishlist
        </button>
        <button *ngIf="!checkIfProductInWishlist()" (click)="addToWishlist()"
          class="flex items-center bg-[#59D6CE] px-4 py-2 rounded-md hover:bg-secondary transition duration-300">
          <i class="fas fa-heart text-white mr-2"></i> Add to Wishlist
        </button>
        <div>
          <div class="font-bold text-lg py-4 flex border-t border-gray-200 items-center">
            <i class="fas fa-download mr-2"></i> Instant Download
          </div>
          <div class="pl-4">
            <p class="pl-4">Your files will be available to download once payment is confirmed. Instant download items
              don’t accept returns, exchanges, or cancellations. Please contact the seller about any problems with your
              order.</p>
          </div>
        </div>
        <div class="font-bold text-lg pt-4 flex border-t border-gray-200 items-center">
          <i class="fas fa-question-circle"></i> FAQs
        </div>
        <p class="pl-4">Have any questions? Feel free to reach out to us.</p>

        <div class="border-t border-gray-200 py-4">
          <h3 class="text-md font-bold text"><i class="fas fa-user"></i> Meet your seller</h3>
          <p>Aykut, Owner of {{shopContainingProduit?.nom}}</p>
          <!-- Show 'Unfollow' button if the shop is in favoriteShops -->
          <button *ngIf="isShopInFavorites()" (click)="unfollowShop()"
            class="flex items-center bg-[#59D6CE] px-4 py-2 rounded-md hover:bg-secondary transition duration-300">
            <i class="fas fa-heart text-white mr-2"></i> Unfollow This Shop
          </button>

          <!-- Show 'Follow' button if the shop is NOT in favoriteShops -->
          <button *ngIf="!isShopInFavorites()" (click)="followShop()"
            class="flex items-center bg-[#59D6CE] px-4 py-2 rounded-md hover:bg-secondary transition duration-300">
            <i class="fas fa-heart text-white mr-2"></i> Follow This Shop
          </button>
        </div>
      </div>
    </div>
  </div>



  <!-- More from this shop -->
  <div class="mt-8">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-2xl font-bold text-gray-800">More from this <a href="Shop/{{shopContainingProduit?.id}}"
          class="text-[#59D6CE]">Shop</a></h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-5 gap-4">
      <div *ngFor="let produit of this.shopContainingProduit?.produits | slice:0:5"
        class="bg-white shadow-lg rounded-lg p-4">
        <img [src]="produit?.fichier || 'assets/product.jpg'" alt="Product Image" (error)="handleImageError($event)"
          class="rounded-lg mb-2 fixed-height">
        <h3 class="text-lg font-bold text-gray-800">{{produit.name}}</h3>
        <p class="text-gray-500">$ {{produit.prix}}</p>
      </div>

    </div>
  </div>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">