<nav class="bg-white shadow-md">
  <div class="container mt-2 mx-auto flex justify-between items-center">
    <a href="/" class="flex items-center">
      <img src="assets/logo.png" alt="Logo" class="h-16">
    </a>


    <div class="flex-grow mx-6 relative">
      <input type="text" placeholder="Search for anything" class="w-full p-2 border rounded-xl ">
      <div class="absolute inset-y-0 right-0 flex items-center pr-1">
        <div class="w-10 h-8 bg-[#59D6CE] rounded-xl flex items-center justify-center">
          <img src="assets/search.svg" alt="Search Icon" class="w-4 h-4">
        </div>
      </div>
    </div>
    <div class="flex items-center space-x-4">
      <a *ngIf="!isUserLoggedIn()" (click)="login()" href="/login" class="text-gray-600 hover:text-gray-800">Login</a>
      <a *ngIf="!isUserLoggedIn()" (click)="login()" href="/login"
        class="text-gray-600 hover:text-gray-800">Register</a>
      <a *ngIf="isUserLoggedIn()" (click)="logout()" href="#" class="text-gray-600 hover:text-gray-800">Logout</a>

      <!-- Show 'Sell on FencyFlair' if the user does not have a shop -->
      <a *ngIf="!hasShop() && isUserLoggedIn()" href="/RegisterShop"
        class="text-gray-600 hover:text-gray-800 bg-gray-200 rounded-xl py-2 px-3">Sell on FencyFlair</a>

      <a *ngIf="!hasShop() && !isUserLoggedIn()" href="/login"
        class="text-gray-600 hover:text-gray-800 bg-gray-200 rounded-xl py-2 px-3">Sell on FancyFlair</a>

      <!-- Show 'Manage Shop' if the user has a shop -->

        <a *ngIf="hasShop()" href="/MyShop" class="text-gray-600 hover:text-gray-800 bg-gray-200 rounded-xl py-2 px-3">Manage Shop</a>
        <button><img src="assets/heart.svg" alt="Logo" class="h-6"
          (click)="toggleWishlist()"
        >
        </button>
        <div class="relative">
          <!-- Dropdown Trigger Button -->
          <button
            class="flex items-center space-x-2 bg-gray-100 px-4 py-2 rounded-lg shadow hover:bg-gray-200 focus:outline-none"
            (click)="toggleDropdown()"
          >
            <img src="assets/shops.png" alt="follow" class="h-6" />
          </button>
        
          <!-- Dropdown Menu -->
          <ul
            *ngIf="dropdownOpen"
            class="absolute mt-2 bg-white border border-gray-200 rounded-lg shadow w-48 max-h-60 overflow-y-auto"
          >
            <li
              *ngFor="let shop of followedShops"
              class="px-4 py-2 hover:bg-gray-100 cursor-pointer text-gray-700"
            >
              {{ shop }}
            </li>
          </ul>
        </div>
        
            </div>
            <app-wishlist-popup
          [isVisible]="showWishlist"
          (close)="showWishlist = false"
        ></app-wishlist-popup>
          <app-followed-shops-dropdown></app-followed-shops-dropdown>
        
        
  
  </div>
</nav>